<h3 class="menu-category-big">Beef</h3>
<div class="row">
  <% @beef.each do |item| %>
      <div class="col-md-4 item-entry">
        <div class="item-title">
          <%= item.title %>
        </div>
        <div class="pull-right">
          <%= price_correction(item) %>
        </div>
      </div>
  <% end %>
</div>
