<p>Please select one entreé per person (no substitutions please)</p>
<div class="row">
  <div class="col-md-4">
    <div class="gourmet-heading">
      <div class="gourmet-title">
        A. China Dinner 13.00/person
      </div>
      <div class="gourmet-desc">
        Soup: Egg Flower Soup
      </div>
      <div class="gourmet-desc">
        Appetizers: Egg Roll, Fried Wonton, Fried Shrimp
      </div>
    </div>
    <div class="row gourmet-entrees">
      <div class="col-md-6">
        <ol>
          <li>Chicken with Broccoli</li>
          <li>Sweet and Sour Pork</li>
          <li>Almond Chicken</li>
          <li>Beef Chow Mein(Crispy Noodles)</li>
        </ol>
      </div>
      <div class="col-md-6">
        <ol start="5">
          <li>Twice Cooked Pork</li>
          <li>Kung Pao Chicken</li>
          <li>Mixed Vegetables</li>
          <li>Shrimp Chop Suey</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="gourmet-heading">
      <div class="gourmet-title">
        B. Mandarin Dinner 14.65/person
      </div>
      <div class="gourmet-desc">
        Soup: Egg Flower Soup
      </div>
      <div class="gourmet-desc">
        Appetizers: Egg Roll, Fried Shrimp, Paper Wrapped Chicken
      </div>
    </div>
    <div class="row gourmet-entrees">
      <div class="col-md-6">
        <ol>
          <li>Imperial Shrimp</li>
          <li>Beef with Broccoli</li>
          <li>Moo Goo Gai Pan</li>
          <li>Honey Coated Chicken</li>
        </ol>
      </div>
      <div class="col-md-6">
        <ol start="5">
          <li>Sour Chicken with Garlic Sauce</li>
          <li>Moo Shi Pork</li>
          <li>Mongolian Beef</li>
          <li>Shredded Pork Szechwan Style</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="gourmet-heading">
      <div class="gourmet-title">
        C. Szechwan Dinner 17.80/person (Min. 2)
      </div>
      <div class="gourmet-desc">
        Soup: Three Flavor Sizzling Rice Soup
      </div>
      <div class="gourmet-desc">
        Appetizers: Pu Pu Platter
      </div>
    </div>
    <div class="row gourmet-entrees">
      <div class="col-md-6">
        <ol>
          <li>Three Ingredient Tastes</li>
          <li>Shredded Pork in Brown Sauce</li>
          <li>Sweet and Sour Shrimp</li>
          <li>Shrimp Szechwan</li>
          <li>Sizzling Beef</li>
        </ol>
      </div>
      <div class="col-md-6">
        <ol start="6">
          <li>Hon Hon Chicken</li>
          <li>Shrimp with Chinese Pea Pods</li>
          <li>Plum Tree Beef</li>
          <li>Three Delight with Bean Curd</li>
        </ol>
      </div>
    </div>
  </div>
</div>
