<h1>Menu</h1>
<% @items.in_groups_of(3).each do |group| %>
  <div class="row">
    <div class="col-md-4">
      <% group.each do |item| %>
        <div class="item">
          <%= item.title if item %>
          <%= item.price if item %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
    <!-- <% @items.each do |item| %>
      <div class="media">
        <div class="media-body">
          <h3 class="item-list">
            <% if item.category == "Poultry" %>
              <div class="col-md-4">
                <h4 class="item-list">
                  <%= item.title %>
                </h4>
              </div>
            <% end %>
        </div>
      </div>
    <% end %> -->
