<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Wonton Soup(cup)
    </div>
    <div class="pull-right">
      1.95
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Mixed Vegetable Soup(cup)
    </div>
    <div class="pull-right">
      1.95
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div>
    </div>
    <div class="pull-right">
      For Two / For Four
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Egg Flower Soup
    </div>
    <div class="pull-right">
      6.45 / 8.55
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Hot and Sour Soup🌶
    </div>
    <div class="pull-right">
      6.45 / 9.25
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Chicken with Sizzling Rice Soup
    </div>
    <div class="pull-right">
      6.45 / 9.25
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Shrimp with Sizzling Rice Soup
    </div>
    <div class="pull-right">
      6.45 / 9.25
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 item-entry">
    <div class="item-title">
      Three Flavor Sizzling Rice Soup
    </div>
    <div class="pull-right">
      6.45 / 9.25
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
  <div id="pupu">
    Wor Wonton Soup &nbsp 6.45 / 9.25
  </div>
  <div id="pupu-desc">
    Wonton soup made with sliced tender chicken, shrimp, broccoli, pea pods, bamboo shoots, mushroom and carrots
  </div>
