  <h2>About Us</h2>
  <div class="container about-desc">
    <div class="row">
      <div class="col-sm-4">
        <div id="about-image">
          <%= image_tag("family.jpg", alt: "Old Family Photo", class: "img-responsive") %>
        </div>
      </div>
      <div class="col-sm-8">
        <div>
          <p>Great China has proudly been family owned and operated by the Dai family since 1986 in Fallbrook. It has been our unique privilege to serve delicious Chinese cuisine made to order using fresh ingredients. Great China is located in the Fallbrook Mercantile Center, next to Major Market. We're thankful to all of our great customers over the years and the many friends we have made in the process. Whether dine-in, carry out or to cater your next big party, we hope you will join us for your next dining experience.</p>
        </div>
      </div>
    </div>
  </div>
