<div id="home-image">
  <%= image_tag("dumplings.jpg", alt: "Steamed Dumplings", class: "img-responsive") %>
</div>
<div class="row contact-info">
  <div class="col-md-3">
    <%= image_tag("GreatChinaLogo.jpg", alt: "Great China Logo", class: "img-responsive") %>
  </div>
  <div class="col-md-3 hours">
    <h2>Hours</h2>
    <p>Sunday 11:30am-9pm</p>
    <p>Monday 4pm-9pm</p>
    <p>Tuesday-Saturday 11am-9pm</p>
  </div>
  <div class="col-md-3 address">
    <h2>Location</h2>
    <p>835 S. Main Ave. Ste. BC</p>
    <p>Fallbrook, CA 92028</p>
    <p>760-728-8889</p>
  </div>
  <div class="col-md-3">
    <div id="map"></div>
  </div>
</div>
<script>
  function initMap() {
    var uluru = {lat: 33.375674, lng: -117.252913};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru,

    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap">
</script>
