<div id="home-image">
  <%= image_tag("dumplings.jpg", alt: "Steamed Dumplings", class: "img-responsive") %>
</div>

<script>
  function initMap() {
    var uluru = {lat: 33.375674, lng: -117.252913};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru,

    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap">
</script>
