/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require datetimepicker
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.jumbotron {
  text-align: center;
}

h1 {
  font-family: 'Tangerine', cursive;
}


body {
  background-image: image-url('dragon.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.nav {
  padding-top: 10px;
  padding-right: 40px;
  background-color: #780001;
  border: none;
  color: #fff;
  width: 100%;
}

.nav a {
  color: white;
  font-size: 18px;
}

.contact-info {
  background-color: #262626;
}

.hours {
}

#map {
  height: 300px;
  width: 100%;
  position: absolute;
}

#about-image {

}

.about-desc {
  text-align: left;
  padding-top: 15px;
}

.menu-display {
  color: white;
}

.menu-category-big {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 2.0em;
}

.item-entry {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-family: 'PT Sans Narrow', sans-serif;
}

// .item-price {
//   text-align: right;
// }
